<!DOCTYPE html>
<html>
<head>
    <title>MetaCoin - Default Truffle App</title>
    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="./app.css" rel='stylesheet' type='text/css'-->
    <script src="./app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="//cdn.muicss.com/mui-0.9.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.3/js/mui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #app {
            padding: 8%;
        }
        .contract {
            padding: 8%
        }
        form {
            display: flex;
            flex-direction: column;
        }
        .img-circle {
            border-radius: 50%;
            padding: 5px;
        }
        .right {
            float: right;
        }
    </style>
</head>
<body>
<div id="app">
    <component :is="page"></component>
</div>

<script>
    var g = {steps:undefined, goal:undefined, date: (new Date()).toISOString().split('.')[0], bet:undefined, friend:undefined }
    Vue.filter('date', function (date, locale) {
        moment.locale(locale)
        return moment(date).format('LL')
    })
    Vue.component('home', {
        template: `
        <div class="home">
          <!--h3>Steps to date: <span >{{(g.steps === undefined) ? '...' : g.steps}}</span></h3-->
          <h2>Place your Bet</h2>
          <form action="#" v-if="g.steps !== undefined">
            <div class="mui-textfield">
                <input type="number" placeholder="Goal" v-model="g.goal" step="100">
                <label>steps</label>
            </div>
            <div class="mui-textfield">
                 <label>Deadline (local time): </label>
                 <input type="datetime-local" v-model="g.date" step="1">
            </div>
            <div class="mui-textfield">
                <input type="number" placeholder="Your bet on yourself" v-model="g.bet">
                <label>ETH</label>
            </div>
            <div id="friend">
             <h3>Donate to {{g.friend}}</h3>
             <div class="mui-dropdown right">
              <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                Dropdown
                <span class="mui-caret"></span>
              </button>
              <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                <li><a href="#" @click="g.friend = 'Bill&Melinda Gates'"><img class="img-circle" src="https://unsplash.it/64/64/?random" width="38px" height="38px">Bill&Melinda Gates</a></li>
                <li><a href="#" @click="g.friend = 'UNICEF'"><img class="img-circle" src="https://unsplash.it/65/65/?random" width="38px" height="38px">UNICEF</a></li>
                <li><a href="#" @click="g.friend = 'Children’s Health Fund'"><img class="img-circle" src="https://unsplash.it/66/66/?random" width="38px" height="38px">Children's Health Fund</a></li>
                <li><a href="#" @click="g.friend = 'Friends of Animals'"><img class="img-circle" src="https://unsplash.it/67/67/?random" width="38px" height="38px">Friends of Animals</a></li>
              </ul>
            </div>
            </div>
            <button :disabled="!validateG" class="mui-btn mui-btn--danger" @click.prevent="$parent.page = 'contract'">Upload contract...</button>
          </form>
        </div>
        `,
        data () {
            return {g}
        },
        mounted () {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.token;
            axios.get('https://api.fitbit.com/1/user/-/activities/date/2016-11-05.json', {})
                    .then(function (response) {
                        this.g.steps = response.data.summary.steps
                    })
                    .catch(function (error) {
                        this.g.steps = 'epic error :('
                    });
        },
        computed: {
            token () {
                return this.$parent.findGetParameter('access_token')
            },
            validateG () {
                return g.goal && g.date && g.bet && g.friend
            }
        }
    })
    Vue.component('contract', {
        template: `
        <div class="contract">
            <article id="contract">
                <h3>The Personal Contract</h3>
                <div>
                    <p>
                        I promise to walk/run <strong>{{g.goal}}</strong> steps
                        on <strong>{{g.date | date('en') }}</strong> or
                        I will lose <strong>{{g.bet}}</strong> ETH
                        to <strong>{{g.friend}}</strong>
                    </p>
                    <button class="mui-btn mui-btn--danger">Sign</button>
                </div>
            </article>
        </div>
        `,
        data () {
            return {g}
        }
    })
    new Vue({
        el: '#app',
        data: {
            page: 'home',
            fitLogged: true,
            g
        },
        methods: {
            findGetParameter (parameterName) {
                var result = null,
                        tmp = [];
                location.hash
                        .substr(1)
                        .split("&")
                        .forEach(function (item) {
                            tmp = item.split("=");
                            if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                        });
                return result
            }
        }
    })
</script>
</body>
</html>
